@import "_colors";

.auth-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.div-links {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.btn-link {
  background-color: $bright-blue;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

.btn-logout {
  background-color: $bright-blue;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  cursor: pointer;
}
