@import "_colors";

.form-wrapper-title {
  text-align: center;
  margin: 0;
  margin-bottom: 12px;
  font-family: "Poppins", sans-serif;
  color: $text;
}

.form-wrapper-div {
  display: grid;
  gap: 16px 8px;
  justify-content: flex-start;
  grid-template-columns: auto minmax(auto, 400);
}
