@import "_colors";
@import "_media-queries";

.input-wrapper {
  margin-top: 20px;
}

label {
  font-family: "Popins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: $text;
  display: block;
  margin-bottom: 8px;

  @include medium {
    font-size: 14px;
  }
}

input {
  font-size: 15px;
  width: 250px;
  max-width: 250px;
  height: auto;
  color: $text;
  background: #ffffff;
  border: 1px solid $border-color;
  border-radius: 6px;
  padding: 10px 14px;

  @include medium {
    padding: 8px;
    width: 80%;
  }
}

.error-message-input {
  font-family: "Poppins", sans-serif;
  color: #9b59b6;
  font-size: 12px;
  height: 15px;
}
