@import "_colors";

.input-wrapper {
  margin-top: 20px;
}

label {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: $text-color;
  display: block;
  margin-bottom: 8px;
}

input {
  font-size: 15px;
  width: 250px;
  height: 10px;
  color: $text-color;
  background: #ffffff;
  border: 1px solid $border-color;
  border-radius: 6px;
  padding: 10px 14px;
}
