@import "_colors";

.profile-container {
  padding: 0.5rem calc((100vw - 1200px) / 2);
  h1 {
    font-family: "Poppins", sans-serif;
  }
}

.div-profile {
  display: flex;
  justify-content: space-around;
}

.div-user {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-family: "Poppins", sans-serif;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, $secondary 25%, white 25%);
  padding-left: 15%;
  max-width: 350px;
  width: 100%;
}

.div-pet {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-family: "Poppins", sans-serif;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, $secondary 25%, white 25%);
  padding-left: 15%;
  max-width: 350px;
  width: 100%;
}
