@import "_colors";

.unauth-navbar {
  display: flex;
  justify-content: end;
  gap: 12px;
}

.btn-link {
  background-color: $bright-blue;
  color: white;
  font-size: 15px;
  text-decoration: none;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
}
